.carousel__container_caption{
    background-color: rgba(0, 0, 0, .4);
    margin: auto;
    max-width: 600px;
    padding: 8px 0;
}

@media screen and (min-width: 768px){

    .carousel-item img{
        max-height: 515px;
        object-fit: cover;
    
    }
}
@media screen and (min-width: 1024px){

    .carousel-item img{
        max-height: 585px;
        object-fit: cover;
    
    }
}
@media screen and (min-width: 1440px){

    .carousel-item img{
        max-height: 550px;
        object-fit: cover;
    
    }
}