body{
    font-family: 'Roboto', sans-serif;
}

.sobre,
.produtos {
    background-color: #FFF1DC;
}

.sobre h2,
.cursos h2,
.cursos h5 {
    font-family: 'Lemon', cursive;
}
.sobre span,
.cursos h2 span,
.cursos h5 span,
.cursos .bi-journal-bookmark {
    color: #3A98B9;
}