body{
    font-family: 'Roboto', sans-serif;
}

/* Cor de fundo das seções */
.bg-color-primary{
    background-color: #FFF1DC;
}

.cursos,
.contato {
    background-color: #E8D5C4;
}

/* Formatação dos subtítulos */
.ff-lemon{
    font-family: 'Lemon', cursive;
}

.text-colored{
    color: #3A98B9;
}

/* Botões */
.blue-button,
.produtos .nav-link.active {
    background-color: #3A98B9;
    color: #fff;
}
